.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header header header"
    "sidebar content content content"
    "footer footer footer footer";
  gap: 10px;
}

.item-1 {
  grid-area: header;
}

.item-2 {
  grid-area: content;
  background-image: url('./images/gta5.jpeg');
  background-size: contain;
}

.item-3 {
  grid-area: sidebar;
  background-image: url('./images/pubg.jpeg');
  background-size: cover;
}

.item-4 {
  grid-area: footer;
  background-image: url('./images/cod.jpeg');
  background-size: cover;
}
